name: attacker-detector
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly  # Remove this line if using GPU, add pytorch-cuda=11.8 instead
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - tqdm
  - pip
  - pip:
    - xxhash
